 <table>
    <tr>
        <td>
           <img src='https://drive.google.com/uc?id=1rkGhPCSN-4TEhtQKc5yzMQjQ5CzYXfv3' height='200px' align='center'>
        </td>          
    </tr>
</table>

+ **Alunos:** 
    + Alex Felipe Barbosa
    + Danilo Silva Andrade

---

### 1.) DATA ACQUISITION

---

+ Instalação e Declaração das bibliotecas

In [37]:
# Install libraries first before declaring them
# !pip install pandas
# !pip install numpy
# !pip install plotly

# Declare libraries
import pandas as pd
import numpy as np
import plotly

+ conexão ao database ( temporariamente local )

In [38]:
# Search the path
dir_db = ('C:\\Users\\da04257\\Downloads\\tcc\\dir_db\\')

# Atributte the path database and search file
archive = ('dir_db//DadosEquipamentos_v3.csv')

+ leitura inicial da base de dados

In [39]:
# Read and select columns
dataset = pd.read_csv(archive, sep=';')

# Print first 3 rows of dataset
dataset.head(3)

,DT_APONTAMENTO,ANO,MES,CD_EQUIPAMENTO,CD_ATIVIDADE,NM_ATIVIDADE,FG_ATIVIDADE_PRODUTIVA,FG_ATIVIDADE_MANUTENCAO,VA_DURACAO,VA_TEMPO_MOTOR_LIGADO,VA_TEMPO_MOTOR_OCIOSO,VA_TEMPO_TRABALHO,VA_ABASTECIMENTO,VA_KM_TOTAL,VA_KM_TRABALHO,VA_VELOCIDADE_MEDIA_TR,VA_AREA_TRABALHO
0,25/03/2019,2019,3,225049,2001,Arremate,1,0,2818,2770,12,116,0,"0,85895","0,09467","2,93824","0,01419"
1,25/03/2019,2019,3,225049,2000,Manobra Colhedora,1,0,562,554,0,1,0,"0,21556","0,00065","2,32143","0,0001"
2,25/03/2019,2019,3,225049,1942,Maquina Embuchada,1,0,11,11,0,0,0,"0,00556",0,0,0

---

### 2.) DATA PREPARATION

---

##### 2.1) Análise Descritiva

In [67]:
# Display the following:
# - type of database
# - size of dataframe and yours columns
# - datatypes the columns
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141881 entries, 0 to 141880
Data columns (total 11 columns):
DT_APONTAMENTO                    141881 non-null object
ANO                               141881 non-null int64
MES                               141881 non-null int64
CD_EQUIPAMENTO                    141881 non-null int64
CD_ATIVIDADE                      141881 non-null int64
NM_ATIVIDADE                      141881 non-null object
FG_ATIVIDADE_PRODUTIVA            141881 non-null int64
FG_ATIVIDADE_MANUTENCAO           141881 non-null int64
VA_TEMPO_MOTOR_LIGADO             141881 non-null float64
VA_TEMPO_MOTOR_OCIOSO             141881 non-null float64
V_TEMPO_PROD_MED_DIA_ATIVIDADE    141881 non-null float64
dtypes: float64(3), int64(6), object(2)
memory usage: 11.9+ MB

In [66]:
# Display the following:
# - main statistical measures of the dataframe
dataset.describe()

,ANO,MES,CD_EQUIPAMENTO,CD_ATIVIDADE,FG_ATIVIDADE_PRODUTIVA,FG_ATIVIDADE_MANUTENCAO,VA_TEMPO_MOTOR_LIGADO,VA_TEMPO_MOTOR_OCIOSO,V_TEMPO_PROD_MED_DIA_ATIVIDADE
count,141881.000000,141881.000000,141881.000000,141881.000000,141881.000000,141881.000000,141881.0,141881.0,141881.0
mean,2019.544076,7.170354,225578.159584,1884.087129,0.373764,0.223166,0.0,0.0,0.0
std,0.498055,2.464522,267.630902,227.247200,0.483804,0.416370,0.0,0.0,0.0
min,2019.000000,3.000000,225049.000000,1130.000000,0.000000,0.000000,0.0,0.0,0.0
25%,2019.000000,5.000000,225395.000000,1905.000000,0.000000,0.000000,0.0,0.0,0.0
50%,2020.000000,7.000000,225724.000000,1942.000000,0.000000,0.000000,0.0,0.0,0.0
75%,2020.000000,9.000000,225880.000000,1999.000000,1.000000,0.000000,0.0,0.0,0.0
max,2020.000000,12.000000,225885.000000,2002.000000,1.000000,1.000000,0.0,0.0,0.0

##### 2.2) Transformação e Limpeza dos dados
+ Transformar, renomear, agrupar, etc.

In [65]:
# rename column of database
dataset = dataset.rename(columns={"VA_DURACAO": "V_TEMPO_PROD_MED_DIA_ATIVIDADE"})

# data grouping and transformation in hours
dt_group = dataset.groupby([dataset['DT_APONTAMENTO'], 'ANO', 'MES', 'CD_EQUIPAMENTO', 'CD_ATIVIDADE', 'NM_ATIVIDADE', 'FG_ATIVIDADE_PRODUTIVA', 'FG_ATIVIDADE_MANUTENCAO'])[['VA_TEMPO_MOTOR_LIGADO', 'VA_TEMPO_MOTOR_OCIOSO', 'V_TEMPO_PROD_MED_DIA_ATIVIDADE']].sum() / 60 / 60

# rounding columns dataset
dt_group = dt_group.round(2)

# Display first 5 rows of dataset update
dt_group.head(5)
# ------ For Check: db_resumo.query('DT_APONTAMENTO == "07/03/2019"')

# Saving the dataset for Day / Equipto / Atividade
dt_group.to_csv('dir_db\dt_group.csv', encoding='utf-8', index=True)

# Search the database
archive = ('dir_db/dt_group.csv')

# Read and select columns
dataset = pd.read_csv(archive, sep=',')

# Print first 10 rows of dataset
dataset.head(5)

### 6. Agrupando diversos datasets: por Ano / Mes / Atividade

dt_year_month = dataset.groupby([dataset['ANO'], dataset['MES'], 'CD_ATIVIDADE', 'NM_ATIVIDADE', 'FG_ATIVIDADE_PRODUTIVA', 'FG_ATIVIDADE_MANUTENCAO'])[['VA_TEMPO_MOTOR_LIGADO', 'VA_TEMPO_MOTOR_OCIOSO', 'V_TEMPO_PROD_MED_DIA_ATIVIDADE']].sum()
# rounding columns dataset
dt_year_month = dt_year_month.round(2)

dt_year = dataset.groupby([dataset['ANO'], 'CD_ATIVIDADE', 'NM_ATIVIDADE', 'FG_ATIVIDADE_PRODUTIVA', 'FG_ATIVIDADE_MANUTENCAO'])[['VA_TEMPO_MOTOR_LIGADO', 'VA_TEMPO_MOTOR_OCIOSO', 'V_TEMPO_PROD_MED_DIA_ATIVIDADE']].sum()
# rounding columns dataset
dt_year = dt_year.round(2)

dt_prod = dataset.groupby([dataset['ANO'], 'FG_ATIVIDADE_PRODUTIVA', 'NM_ATIVIDADE'])[['CD_ATIVIDADE']].count()
# rounding columns dataset
dt_prod = dt_prod.round(2)

# Saving the datasets
dt_year_month.to_csv('dir_db\\dt_year_month.csv', encoding='utf-8', index=True)
dt_year.to_csv('dir_db\\dt_year.csv', encoding='utf-8', index=True)
dt_prod.to_csv('dir_db\\dt_prod.csv', encoding='utf-8', index=True)

# Search the database
archive_year_month = ('dir_db/dt_year_month.csv')
archive_year = ('dir_db/dt_year.csv')
archive_prod = ('dir_db/dt_prod.csv')

# Read and select columns
dt_year_month = pd.read_csv(archive_year_month, sep=',')
dt_year = pd.read_csv(archive_year, sep=',')
dt_prod = pd.read_csv(archive_prod, sep=',')

---

### 3. Explanatory Analysis

---

---
+ traçar análise gráfica por grupos de horas improdutivas: 
+ FG_ATIVIDADE_MANUTENCAO == 1 x FG_ATIVIDADE_MANUTENCAO == 0
---

In [18]:
horas_tot_19 = dt_year.query('ANO == 2019')
horas_tot_19 = (horas_tot_19['V_TEMPO_PROD_MED_DIA_ATIVIDADE'].sum() * 1)

horas_tot_20 = dt_year.query('ANO == 2020')
horas_tot_20 = (horas_tot_20['V_TEMPO_PROD_MED_DIA_ATIVIDADE'].sum() * 1)

In [19]:
atv_1 = dt_year.query("CD_ATIVIDADE == 1910")  # Chuva / Escesso de Umidade
atv_2 = dt_year.query("CD_ATIVIDADE == 1921")  # Outros Fatores Climáticos
atv_3 = dt_year.query("CD_ATIVIDADE == 1935")  # Incêndio

dt_clima = pd.concat([atv_1, atv_2, atv_3], ignore_index=True)
dt_clima['CD_ATIVIDADE'] = "Clima"
dt_clima['%_ATV'] = np.where(dt_clima['ANO'] == 2019, round(dt_clima['V_TEMPO_PROD_MED_DIA_ATIVIDADE'] / horas_tot_19 * 100,2) , round(dt_clima['V_TEMPO_PROD_MED_DIA_ATIVIDADE'] / horas_tot_20 * 100,2))


dt_clima = dt_clima.groupby([dt_clima['ANO'], 'CD_ATIVIDADE'])[['V_TEMPO_PROD_MED_DIA_ATIVIDADE', '%_ATV']].sum()

# Saving the datasets
dt_clima.to_csv('dir_db\\dt_clima.csv', encoding='utf-8', index=True)

# import
archive_dt_clima = ('dir_db/dt_clima.csv')
# read
dt_clima = pd.read_csv(archive_dt_clima, sep=',')

dt_clima

    ANO CD_ATIVIDADE  V_TEMPO_PROD_MED_DIA_ATIVIDADE  %_ATV
0  2019        Clima                        22763.10  14.45
1  2020        Clima                        16800.47  10.65

In [20]:
atv_1 = dt_year.query("FG_ATIVIDADE_MANUTENCAO == 1")  # Todas paradas por manutenção

dt_manut = pd.concat([atv_1], ignore_index=True)
dt_manut['CD_ATIVIDADE'] = "Manutencao"
dt_manut['%_ATV'] = np.where(dt_manut['ANO'] == 2019, round(dt_manut['V_TEMPO_PROD_MED_DIA_ATIVIDADE'] / horas_tot_19 * 100,2) , round(dt_manut['V_TEMPO_PROD_MED_DIA_ATIVIDADE'] / horas_tot_20 * 100,2))

dt_manut = dt_manut.groupby([dt_manut['ANO'], 'CD_ATIVIDADE'])[['V_TEMPO_PROD_MED_DIA_ATIVIDADE', '%_ATV']].sum()

# Saving the datasets
dt_manut.to_csv('dir_db\\dt_manut.csv', encoding='utf-8', index=True)

# import
archive_dt_manut = ('dir_db/dt_manut.csv')
# read
dt_manut = pd.read_csv(archive_dt_manut, sep=',')

dt_manut

    ANO CD_ATIVIDADE  V_TEMPO_PROD_MED_DIA_ATIVIDADE  %_ATV
0  2019   Manutencao                        16324.68  10.37
1  2020   Manutencao                        24096.64  15.28

In [22]:
atv_1 = dt_year.query("FG_ATIVIDADE_MANUTENCAO == 0 and FG_ATIVIDADE_PRODUTIVA == 0")  # Todas paradas diferentes de manutenção e improdutivas
atv_2 = atv_1.query("CD_ATIVIDADE != 1910")  # Chuva / Escesso de Umidade
atv_3 = atv_2.query("CD_ATIVIDADE != 1921")  # Outros Fatores Climáticos
atv_4 = atv_3.query("CD_ATIVIDADE != 1935")  # Incêndio

dt_oper = pd.concat([atv_4], ignore_index=True)
dt_oper['CD_ATIVIDADE'] = "Operacao"
dt_oper['%_ATV'] = np.where(dt_oper['ANO'] == 2019, round(dt_oper['V_TEMPO_PROD_MED_DIA_ATIVIDADE'] / horas_tot_19 * 100,2) , round(dt_oper['V_TEMPO_PROD_MED_DIA_ATIVIDADE'] / horas_tot_20 * 100,2))

dt_oper = dt_oper.groupby([dt_oper['ANO'], 'CD_ATIVIDADE'])[['V_TEMPO_PROD_MED_DIA_ATIVIDADE', '%_ATV']].sum()

# Saving the datasets
dt_oper.to_csv('dir_db\\dt_oper.csv', encoding='utf-8', index=True)

# import
archive_dt_oper = ('dir_db/dt_oper.csv')
# read
dt_oper = pd.read_csv(archive_dt_oper, sep=',')

dt_oper

    ANO CD_ATIVIDADE  V_TEMPO_PROD_MED_DIA_ATIVIDADE  %_ATV
0  2019     Operacao                        31136.31  19.77
1  2020     Operacao                        29227.40  18.52

In [23]:
dt_produtivo = dt_year.query("FG_ATIVIDADE_MANUTENCAO == 0 and FG_ATIVIDADE_PRODUTIVA == 1")  # Todas paradas diferentes de manutenção e improdutivas

dt_produtivo = pd.concat([dt_produtivo], ignore_index=True)

dt_produtivo['CD_ATIVIDADE'] = "Produtivo"
dt_produtivo['%_ATV'] = np.where(dt_produtivo['ANO'] == 2019, round(dt_produtivo['V_TEMPO_PROD_MED_DIA_ATIVIDADE'] / horas_tot_19 * 100,2) , round(dt_produtivo['V_TEMPO_PROD_MED_DIA_ATIVIDADE'] / horas_tot_20 * 100,2))

dt_produtivo = dt_produtivo.groupby([dt_produtivo['ANO'], 'CD_ATIVIDADE'])[['V_TEMPO_PROD_MED_DIA_ATIVIDADE', '%_ATV']].sum()

# Saving the datasets
dt_produtivo.to_csv('dir_db\\dt_produtivo.csv', encoding='utf-8', index=True)

# import
archive_dt_produtivo = ('dir_db/dt_produtivo.csv')
# read
dt_produtivo = pd.read_csv(archive_dt_produtivo, sep=',')

dt_produtivo

    ANO CD_ATIVIDADE  V_TEMPO_PROD_MED_DIA_ATIVIDADE  %_ATV
0  2019    Produtivo                        87278.82  55.42
1  2020    Produtivo                        87622.10  55.55

---

### 4.) VISUALIZATION AND COMMUNICATION

---

##### 4.1) ATIVIDADE IMPRODUTIVAS

In [ ]:
import plotly.express as px
data = px.data.gapminder()

plot_19 = dt_year_month.query("ANO == 2019 and FG_ATIVIDADE_MANUTENCAO == 1 and CD_ATIVIDADE == 1905")
#plot_20 = dt_year_month.query("ANO == 2020 and FG_ATIVIDADE_MANUTENCAO == 1 and CD_ATIVIDADE == 1905")

fig = px.bar(plot_19, x='MES', y='V_TEMPO_PROD_MED_DIA_ATIVIDADE',
             hover_data=['ANO', 'NM_ATIVIDADE'], color='V_TEMPO_PROD_MED_DIA_ATIVIDADE',
             labels={'pop':'teste'}, height=500)

#fig = px.bar(plot_20, x='MES', y='V_TEMPO_PROD_MED_DIA_ATIVIDADE',
#             hover_data=['ANO', 'NM_ATIVIDADE'], color='V_TEMPO_PROD_MED_DIA_ATIVIDADE',
#             labels={'pop':'teste'}, height=500)
fig.show()

In [ ]:
atv_1 = dt_year.query("CD_ATIVIDADE == 1903")  # Aguardando Caminhão
atv_2 = dt_year.query("CD_ATIVIDADE == 1939")  # Aguardando Transbordo
atv_3 = dt_year.query("CD_ATIVIDADE == 1964")  # Fila Indústria
dt_cm = dt_year.query("CD_ATIVIDADE == 1130")  # Corte Mecânico

improd = pd.concat([atv_1, atv_2, atv_3], ignore_index=True)
improd['CD_ATIVIDADE'] = 9999

dt_improd = pd.concat([improd, dt_cm], ignore_index=True)
dt_improd = dt_improd.groupby([dt_improd['ANO'], 'CD_ATIVIDADE'])[['V_TEMPO_PROD_MED_DIA_ATIVIDADE']].sum()

# Saving the datasets
dt_improd.to_csv('dir_db\\dt_improd.csv', encoding='utf-8', index=True)

# import
archive_dt_improd = ('dir_db/dt_improd.csv')
# read
dt_improd = pd.read_csv(archive_dt_improd, sep=',')

years = dt_improd.ANO
v_improd = dt_improd.query('CD_ATIVIDADE != 1130')
v_prod = dt_improd.query('CD_ATIVIDADE == 1130')


################################## GRAPH

import plotly.graph_objects as go

colors = ['lightslategray',] * 4
colors[1] = 'crimson'

fig = go.Figure()
fig.add_trace(go.Bar(x=v_improd.ANO,
                y=v_improd.V_TEMPO_PROD_MED_DIA_ATIVIDADE,
                name='Horas Improdutivas',
                marker_color='crimson' # rgb(55, 83, 109)
                ))
fig.add_trace(go.Bar(x=v_improd.ANO,
                y=v_prod.V_TEMPO_PROD_MED_DIA_ATIVIDADE,
                name='Corte Mecânico',
                marker_color='rgb(26, 118, 255)'
                ))

fig.update_layout(
    title='Influência das Horas Improdutivas Sobre o Corte Mecânico',
    xaxis_tickfont_size=14,
    yaxis=dict(
        title='Horas (h)',
        titlefont_size=16,
        tickfont_size=14,
    ),
    legend=dict(
        x=0,
        y=1.0,
        bgcolor='rgba(255, 255, 255, 0)',
        bordercolor='rgba(255, 255, 255, 0)'
    ),
    barmode='group',
    bargap=0.15, # gap between bars of adjacent location coordinates.
    bargroupgap=0.1 # gap between bars of the same location coordinate.
)
fig.show()

In [ ]:
atv_1 = dt_year.query("CD_ATIVIDADE == 1130")  # Corte Mecânico
atv_2 = dt_year.query("CD_ATIVIDADE == 2000")  # Manobra
atv_3 = dt_year.query("CD_ATIVIDADE == 2001")  # Arremate
atv_4 = dt_year.query("CD_ATIVIDADE == 2002")  # Esvaziamento
atv_5 = dt_year.query("CD_ATIVIDADE == 1942")  # Desembuchamento

prod = pd.concat([atv_1, atv_2, atv_3, atv_4, atv_5], ignore_index=True)
prod['CD_ATIVIDADE'] = 1130

dt_prod = prod.groupby([prod['ANO'], 'CD_ATIVIDADE'])[['V_TEMPO_PROD_MED_DIA_ATIVIDADE']].sum()

# Saving the datasets
dt_prod.to_csv('dir_db\\dt_prod.csv', encoding='utf-8', index=True)

# import
archive_dt_prod = ('dir_db/dt_prod.csv')
# read
dt_prod = pd.read_csv(archive_dt_prod, sep=',')

#years = dt_prod.ANO
#v_prod = dt_prod.CD_ATIVIDADE



################################## GRAPH

import plotly.graph_objects as go

colors = ['lightslategray',] * 4
colors[1] = 'crimson'

fig = go.Figure()

fig.add_trace(go.Bar(x=dt_prod.ANO,
                y=dt_prod.V_TEMPO_PROD_MED_DIA_ATIVIDADE,
                name='Corte Mecânico',
                marker_color='rgb(26, 118, 255)'
                ))

fig.update_layout(
    title='Influência das Horas Improdutivas Sobre o Corte Mecânico',
    xaxis_tickfont_size=14,
    yaxis=dict(
        title='Horas (h)',
        titlefont_size=16,
        tickfont_size=14,
    ),
    legend=dict(
        x=0,
        y=1.0,
        bgcolor='rgba(255, 255, 255, 0)',
        bordercolor='rgba(255, 255, 255, 0)'
    ),
    barmode='group',
    bargap=0.15, # gap between bars of adjacent location coordinates.
    bargroupgap=0.1 # gap between bars of the same location coordinate.
)
fig.show()

In [ ]:
import plotly.graph_objects as go

df_eqpto = dt_year_month.query("CD_ATIVIDADE == 1910")
#df_eqpto = df_eqpto.query("EQUIPTO == 1")
df_eqpto = df_eqpto.query("FG_ATIVIDADE_PRODUTIVA != 1")

df2019 = df_eqpto.query('ANO=="2019"')
df2020 = df_eqpto.query('ANO=="2020"')

fig = go.Figure(data=[   
    go.Bar(name='2019', x=df2019.MES, y=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto'),
    go.Bar(name='2020', x=df2020.MES, y=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto')
])

#marker_color='crimson'
fig.update_traces(marker_line_color='rgb(255,255,255)', marker_line_width=0.5, opacity=0.9)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide', title="Horas em Chuva - <b>Atividade 1910</b>")
fig.show()

In [ ]:
import plotly.graph_objects as go

df_eqpto = dt_year_month.query("CD_ATIVIDADE == 1905")
#df_eqpto = df_eqpto.query("EQUIPTO == 1")
df_eqpto = df_eqpto.query("FG_ATIVIDADE_PRODUTIVA != 1")

df2019 = df_eqpto.query('ANO=="2019"')
df2020 = df_eqpto.query('ANO=="2020"')

fig = go.Figure(data=[   
    go.Bar(name='2019', x=df2019.MES, y=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto'),
    go.Bar(name='2020', x=df2020.MES, y=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto')
])

#marker_color='crimson'
fig.update_traces(marker_line_color='rgb(255,255,255)', marker_line_width=0.5, opacity=0.9)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide', title="Horas em Manutenção - <b>Atividade 1905</b>")
fig.show()

In [ ]:
import plotly.graph_objects as go

df_eqpto = dt_year_month.query("CD_ATIVIDADE == 1939")
#df_eqpto = df_eqpto.query("CD_EQUIPAMENTO == 1")
df_eqpto = df_eqpto.query("FG_ATIVIDADE_PRODUTIVA != 1")

df2019 = df_eqpto.query('ANO=="2019"')
df2020 = df_eqpto.query('ANO=="2020"')

fig = go.Figure(data=[   
    go.Bar(name='2019', x=df2019.MES, y=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto'),
    go.Bar(name='2020', x=df2020.MES, y=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto')
])

#marker_color='crimson'
fig.update_traces(marker_line_color='rgb(255,255,255)', marker_line_width=0.5, opacity=0.9)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide', title="Horas Aguardando Transbordo - <b>Atividade 1939</b>")
fig.show()

In [ ]:
import plotly.graph_objects as go

df_eqpto = dt_year_month.query("CD_ATIVIDADE == 1924")
#df_eqpto = df_eqpto.query("EQUIPTO == 1")
df_eqpto = df_eqpto.query("FG_ATIVIDADE_PRODUTIVA != 1")

df2019 = df_eqpto.query('ANO=="2019"')
df2020 = df_eqpto.query('ANO=="2020"')

fig = go.Figure(data=[   
    go.Bar(name='2019', x=df2019.MES, y=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto'),
    go.Bar(name='2020', x=df2020.MES, y=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto')
])

#marker_color='crimson'
fig.update_traces(marker_line_color='rgb(255,255,255)', marker_line_width=0.5, opacity=0.9)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide', title="Horas em Pátio - <b>Atividade 1924</b>")
fig.show()

In [ ]:
import plotly.graph_objects as go

df_eqpto = dt_year_month.query("CD_ATIVIDADE == 1903")
#df_eqpto = df_eqpto.query("EQUIPTO == 1")
df_eqpto = df_eqpto.query("FG_ATIVIDADE_PRODUTIVA != 1")

df2019 = df_eqpto.query('ANO=="2019"')
df2020 = df_eqpto.query('ANO=="2020"')

fig = go.Figure(data=[   
    go.Bar(name='2019', x=df2019.MES, y=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto'),
    go.Bar(name='2020', x=df2020.MES, y=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto')
])

#marker_color='crimson'
fig.update_traces(marker_line_color='rgb(255,255,255)', marker_line_width=0.5, opacity=0.9)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide', title="Horas Aguardando Caminhão - <b>Atividade 903</b>")
fig.show()

In [ ]:
import plotly.graph_objects as go

df_eqpto = dt_year_month.query("CD_ATIVIDADE == 1964")
#df_eqpto = df_eqpto.query("EQUIPTO == 1")
df_eqpto = df_eqpto.query("FG_ATIVIDADE_PRODUTIVA != 1")

df2019 = df_eqpto.query('ANO=="2019"')
df2020 = df_eqpto.query('ANO=="2020"')

fig = go.Figure(data=[   
    go.Bar(name='2019', x=df2019.MES, y=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto'),
    go.Bar(name='2020', x=df2020.MES, y=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto')
])

#marker_color='crimson'
fig.update_traces(marker_line_color='rgb(255,255,255)', marker_line_width=0.5, opacity=0.9)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide', title="Horas na Fila Indústria - <b>Atividade 1964</b>")
fig.show()

In [ ]:
import plotly.graph_objects as go

df_eqpto = dt_year_month.query("CD_ATIVIDADE == 1943")
#df_eqpto = df_eqpto.query("EQUIPTO == 1")
df_eqpto = df_eqpto.query("FG_ATIVIDADE_PRODUTIVA != 1")

df2019 = df_eqpto.query('ANO=="2019"')
df2020 = df_eqpto.query('ANO=="2020"')

fig = go.Figure(data=[   
    go.Bar(name='2019', x=df2019.MES, y=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto'),
    go.Bar(name='2020', x=df2020.MES, y=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto')
])

#marker_color='crimson'
fig.update_traces(marker_line_color='rgb(255,255,255)', marker_line_width=0.5, opacity=0.9)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide', title="Horas Lavando / Lubrificando - <b>Atividade 1943</b>")
fig.show()

In [ ]:
import plotly.graph_objects as go

df_eqpto = dt_year_month.query("CD_ATIVIDADE == 1970")
#df_eqpto = df_eqpto.query("EQUIPTO == 1")
df_eqpto = df_eqpto.query("FG_ATIVIDADE_PRODUTIVA != 1")

df2019 = df_eqpto.query('ANO=="2019"')
df2020 = df_eqpto.query('ANO=="2020"')

fig = go.Figure(data=[   
    go.Bar(name='2019', x=df2019.MES, y=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto'),
    go.Bar(name='2020', x=df2020.MES, y=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto')
])

#marker_color='crimson'
fig.update_traces(marker_line_color='rgb(255,255,255)', marker_line_width=0.5, opacity=0.9)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide', title="Horas em Deslocamento - <b>Atividade 1970</b>")
fig.show()

In [ ]:
import plotly.graph_objects as go

df_eqpto = dt_year_month.query("CD_ATIVIDADE == 1933")
#df_eqpto = df_eqpto.query("EQUIPTO == 1")
df_eqpto = df_eqpto.query("FG_ATIVIDADE_PRODUTIVA != 1")

df2019 = df_eqpto.query('ANO=="2019"')
df2020 = df_eqpto.query('ANO=="2020"')

fig = go.Figure(data=[   
    go.Bar(name='2019', x=df2019.MES, y=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto'),
    go.Bar(name='2020', x=df2020.MES, y=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto')
])

#marker_color='crimson'
fig.update_traces(marker_line_color='rgb(255,255,255)', marker_line_width=0.5, opacity=0.9)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide', title="Horas em Troca de Facas - <b>Atividade 1933</b>")
fig.show()

In [ ]:
import plotly.graph_objects as go

df_eqpto = dt_year_month.query("CD_ATIVIDADE == 1917")
#df_eqpto = df_eqpto.query("EQUIPTO == 1")
df_eqpto = df_eqpto.query("FG_ATIVIDADE_PRODUTIVA != 1")

df2019 = df_eqpto.query('ANO=="2019"')
df2020 = df_eqpto.query('ANO=="2020"')

fig = go.Figure(data=[   
    go.Bar(name='2019', x=df2019.MES, y=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2019.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto'),
    go.Bar(name='2020', x=df2020.MES, y=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, text=df2020.V_TEMPO_PROD_MED_DIA_ATIVIDADE, textposition='auto')
])

#marker_color='crimson'
fig.update_traces(marker_line_color='rgb(255,255,255)', marker_line_width=0.5, opacity=0.9)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide', title="Horas em Mudança Prancha - <b>Atividade 1917</b>")
fig.show()

##### 4.2) ATIVIDADE PRODUTIVAS

In [ ]:
import plotly.graph_objects as go

df_eqpto = dt_year_month.query("CD_ATIVIDADE == 1130")
#df_eqpto = df_eqpto.query("EQUIPTO == 1")
df_eqpto = df_eqpto.query("FG_ATIVIDADE_PRODUTIVA == 1")

df2019 = df_eqpto.query('ANO=="2019"')
df2020 = df_eqpto.query('ANO=="2020"')

fig = go.Figure(data=[   
    go.Bar(name='2019', x=df2019.MES, y=df2019.VA_TEMPO_MOTOR_LIGADO, text=df2019.VA_TEMPO_MOTOR_LIGADO, textposition='auto'),
    go.Bar(name='2020', x=df2020.MES, y=df2020.VA_TEMPO_MOTOR_LIGADO, text=df2020.VA_TEMPO_MOTOR_LIGADO, textposition='auto')
])

#marker_color='crimson'
fig.update_traces(marker_line_color='rgb(255,255,255)', marker_line_width=0.5, opacity=0.9)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide', title="Horas de Corte Mecânico - <b>Atividade 1130</b>")
fig.show()

In [ ]:
import plotly.graph_objects as go

df_eqpto = dt_year_month.query("CD_ATIVIDADE == 2000")
#df_eqpto = df_eqpto.query("EQUIPTO == 1")
df_eqpto = df_eqpto.query("FG_ATIVIDADE_PRODUTIVA == 1")

df2019 = df_eqpto.query('ANO=="2019"')
df2020 = df_eqpto.query('ANO=="2020"')

fig = go.Figure(data=[   
    go.Bar(name='2019', x=df2019.MES, y=df2019.VA_TEMPO_MOTOR_LIGADO, text=df2019.VA_TEMPO_MOTOR_LIGADO, textposition='auto'),
    go.Bar(name='2020', x=df2020.MES, y=df2020.VA_TEMPO_MOTOR_LIGADO, text=df2020.VA_TEMPO_MOTOR_LIGADO, textposition='auto')
])

#marker_color='crimson'
fig.update_traces(marker_line_color='rgb(255,255,255)', marker_line_width=0.5, opacity=0.9)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide', title="Horas em Manobra - <b>Atividade 2000</b>")
fig.show()

In [ ]:
import plotly.graph_objects as go

df_eqpto = dt_year_month.query("CD_ATIVIDADE == 2001")
#df_eqpto = df_eqpto.query("EQUIPTO == 1")
df_eqpto = df_eqpto.query("FG_ATIVIDADE_PRODUTIVA == 1")

df2019 = df_eqpto.query('ANO=="2019"')
df2020 = df_eqpto.query('ANO=="2020"')

fig = go.Figure(data=[   
    go.Bar(name='2019', x=df2019.MES, y=df2019.VA_TEMPO_MOTOR_LIGADO, text=df2019.VA_TEMPO_MOTOR_LIGADO, textposition='auto'),
    go.Bar(name='2020', x=df2020.MES, y=df2020.VA_TEMPO_MOTOR_LIGADO, text=df2020.VA_TEMPO_MOTOR_LIGADO, textposition='auto')
])

#marker_color='crimson'
fig.update_traces(marker_line_color='rgb(255,255,255)', marker_line_width=0.5, opacity=0.9)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide', title="Horas de Arremate - <b>Atividade 2001</b>")
fig.show()

In [ ]:
import plotly.graph_objects as go

df_eqpto = dt_year_month.query("CD_ATIVIDADE == 2002")
#df_eqpto = df_eqpto.query("EQUIPTO == 1")
df_eqpto = df_eqpto.query("FG_ATIVIDADE_PRODUTIVA == 1")

df2019 = df_eqpto.query('ANO=="2019"')
df2020 = df_eqpto.query('ANO=="2020"')

fig = go.Figure(data=[   
    go.Bar(name='2019', x=df2019.MES, y=df2019.VA_TEMPO_MOTOR_LIGADO, text=df2019.VA_TEMPO_MOTOR_LIGADO, textposition='auto'),
    go.Bar(name='2020', x=df2020.MES, y=df2020.VA_TEMPO_MOTOR_LIGADO, text=df2020.VA_TEMPO_MOTOR_LIGADO, textposition='auto')
])

#marker_color='crimson'
fig.update_traces(marker_line_color='rgb(255,255,255)', marker_line_width=0.5, opacity=0.9)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide', title="Tempo de Esvaziamento(h) - <b>Atividade 2002</b>")
fig.show()

In [ ]:
import plotly.graph_objects as go

df_eqpto = dt_year_month.query("CD_ATIVIDADE == 1942")
#df_eqpto = df_eqpto.query("EQUIPTO == 1")
df_eqpto = df_eqpto.query("FG_ATIVIDADE_PRODUTIVA == 1")

df2019 = df_eqpto.query('ANO=="2019"')
df2020 = df_eqpto.query('ANO=="2020"')

fig = go.Figure(data=[   
    go.Bar(name='2019', x=df2019.MES, y=df2019.VA_TEMPO_MOTOR_LIGADO, text=df2019.VA_TEMPO_MOTOR_LIGADO, textposition='auto'),
    go.Bar(name='2020', x=df2020.MES, y=df2020.VA_TEMPO_MOTOR_LIGADO, text=df2020.VA_TEMPO_MOTOR_LIGADO, textposition='auto')
])

#marker_color='crimson'
fig.update_traces(marker_line_color='rgb(255,255,255)', marker_line_width=0.5, opacity=0.9)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide', title="Horas de Desembuchamento - <b>Atividade 1942</b>")
fig.show()